[submodule "packages/tds-monitor-standalone"]
	path = packages/tds-monitor-standalone
	url = https://github.com/totvs/tds-monitor-standalone.git
[submodule "packages/tds-languageclient"]
	path = packages/tds-languageclient
	url = https://github.com/totvs/tds-languageclient.git
[submodule "packages/tds-monitor-frontend"]
	path = packages/tds-monitor-frontend
	url = https://github.com/totvs/tds-monitor-frontend.git
